html{
    
    background-color:#f2f2f2;
    font-family:Sentinel SSm A,Sentinel SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #253b56;
    font-size:1.2rem;
    font-weight:400;
    line-height:1.7;   
    text-align: center;
    box-sizing: border-box;
    
}
@media(max-width:1200px){
    html{
        font-size:1.1rem}
    }
    
@media(max-width:800px){
    html{
        font-size:1rem}
    }
#Title{
    text-align: center;
}
#img-div{
    background-color: #ffffff;   
    margin-top: 20px;    
    margin-bottom: 20px;   
    border-radius: 4px;    
    box-shadow: 0px 1px 4px 0px #d9d9d9;    
    padding: 20px;
}
#img-caption{
    text-align: center;
    background-color: #ffffff;
}


#image{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px; 
    display: block;
}
#tribute-link{
    color:#0000cd;
}

#p1{

    font-weight: bold;
}
.main{
    max-width: 680px;
    margin: 0 auto;
}
#p2{
    margin: auto;
    word-wrap: break-word; 
    display: inline-block;
    letter-spacing: -0.003em;
    font-weight: 400;
    text-align: justify;
    text-align-last: left;
}
#tribute-info{
    text-align: center;
}
#tribute-info ul{
    display: inline-block;
}
#tribute-info ul li{
    text-align: left;
}